.feinman {
    position: relative;
    height: 790px;
    background-color: #F2F2F2;
    z-index: 1;
    padding-top: 100px;
}

.feinman__title {
    margin: auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;

}

.feinman__subtitle {
    margin: auto;
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;

}


.feinman__pic {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-align: right;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;

}